*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
    text-decoration: none;
    list-style: none;
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 25px 12%;
    background: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.logo{
    font-size: 25px;
    color: white;
    font-weight: 600;
    transition: 0.3s ease;
}
.logo:hover{
    color: rgba(236, 0, 140,1);
    transform: scale(1.1);
}

.navbar a{
    font-size: 18px;
    color: white;
    font-weight: 500;
    margin: 0 20px;
    border-bottom: 3px solid transparent;
    transition: 0.3s ease;
}
.navbar a:hover,
.navbar a.active{
    color: rgba(236, 0, 140,1);
    border-bottom: 3px solid rgba(236, 0, 140,1);
}
.contact{
    padding: 10px 28px;
    background-color: white;
    color: black;
    border: 2px solid transparent;
    border-radius: 8px;
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: 600;
    transition: 0.3s ease;
}
.contact:hover{
    background-color: rgba(236, 0, 140,1);
    color: white;
}
.about{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8% 2%;
    gap: 10em;
    background:white;
}
.about-img img{
    position: relative;
    width: 550px;
    border-radius: 50%;
}
.about-content h2{
    text-align: left;
    color: rgb(7, 7, 7);
    font-size: 42px;
}
.about-content h3{
    font-size: 62px;
    color: rgb(8, 8, 8);
}
.about-content p{
    color: rgb(12, 12, 12);
    font-size: 20px;
    margin: 2em 0 3em;
}
.sk{
    background:white;
    text-transform: uppercase;
}
.skill{
    width: 500px;
    margin: 60px auto;
    color: #070707;
    padding: 20px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),0 10px 10px rgba(0, 0, 0, 0.22);
}
.skill h1{
    text-align: center;
}
.skill h3{
    margin: 5px;
}
.skill li{
    margin: 20px 0;
    padding: 10px;
}
.bar{
    background: white;
    display: block;
    height: 20px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25.1);
}
.bar:hover{
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.bar span{
    height: 20px;
    float: left;
    background: linear-gradient(135deg, rgba(236, 0, 140,1)0%, rgba(252, 103, 103, 1)100%);
}
.html{
    width: 90%;
    animation: html 3s;
}
.css{
    width: 70%;
    animation: css 3s;
}
.javascript{
    width: 50%;
    animation: javascript 3s;
}
.php{
    width: 40%;
    animation: php 3s;
}
@keyframes html{
    0%{
        width: 0%;
    }
    100%{
        width:90%;
    }
}
@keyframes css{
    0%{
        width: 0%;
    }
    100%{
        width: 70%;
    }
}
@keyframes javascript{
    0%{
        width: 0%;
    }
    100%{
        width:50%;
    }
}
@keyframes php{
    0%{
        width: 0%;
    }
    100%{
        width:40%;
    }
}
#projects {
    text-align: center;
    background-color: white;
    color: #0a0a0a;
}
#projects h1{
    text-transform: uppercase;
    padding:2%;
}
.project {
    margin-bottom: 20px;
}
.project h2{
    margin: 10px;
}
.project p{
    font-size: 24px;
    padding: 10px;
}
.project img {
    max-width: 100%;
    max-height: 50%;
    border-radius: 5px;
    padding: 2%;
}
#resume,
#contact {
    background-color: white;
    color: #0b0b0b;
    text-align: center;
    padding: 40px;
    margin: 40px auto;
}
#resume,
#contact h1{
    text-transform: uppercase;
}
#resume p{
    margin-top: 15px;
}
#resume a{
  text-decoration: none;
  color: #070707;
  border: 1px solid #070707;
  padding: 10px 20px;
  border-radius: 5px;
}
#resume a:hover{
    background-color:rgba(236, 0, 140,1);
}
footer {
  background-color: white;
  color: #0a0a0a;
  text-align: center;
  padding: 20px 0;
}
  